*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header H1 {
    text-align: center;
    color: black;
    font-size: 50px;
}

.content a {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    font-size: 30px;
    color: red;
}